.footer {
    display: none;
}

/* print */
@media print {
    @page {
        /* request landscape page when printing */
        size: landscape;
    }
    .footer {
        /* enable footer when printing */
        display: block;
    }
    .footer {
        position: fixed;
        bottom: 0;
    }
    h1 {
        page-break-before: always;
    }
}
